body{
  margin-top: 3rem;
} 

/* .alert {
    border: 1px solid #ccc;
    padding: 6px;
}

.alert-info {
    background-color: #d9edf7;
}
.alert-success {
    background-color: #dff0d8;
}
.alert-warning {
    background-color: #fcf8e3;
} */

.hg{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

label#inputEmail-error{
    color: red !important;
}

label#inputPassword-error{
    color: red !important;
}

input#inputPassword{
    overflow-wrap: inherit;
}

/***************************Uploads Styling***************/
.hidden{
    display: none;
}


.wrapper{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.upload_console{
    background: rgb(252, 252, 255);
    border: 2px solid #eee;
    padding: 20px;
}

.console-header{
    padding: 0 0 20px 0;
    margin: 0;
    border-bottom: 2px solid #eee;
    font-weight: 600;
    margin-bottom: 20px;
}

.console-drop{
    height: 200px;
    border: 2px dashed #ccc;
    line-height: 200px;
    color: #ccc;
    text-align: center;
    margin-bottom: 20px;
}

.console-drop.drop{
    border-color: #222;
    color: #222;
}

.console-body{
 margin-bottom: 20px;  
}

.bar{
    width: 100%;
    background: #ccc;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.bar-fill{
    height: 30px;
    display: block;
    background: cornflowerblue;
    width: 0;
    border-radius: 3px;
    -webkit-transition: width 0.8s ease;
    transition: width 0.8s ease;
}
.bar-fill-text{
    color: #fff;
    line-height: 30px;
    margin-left: 5px;
}

.upload-console-upload{
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.upload-console-upload span{
    float: right;
}